<aside class="overlay search-overlay">
	<div class="outer-close toggle-search">
		<a class="close">Close</a>
	</div>
	<div class="search-ghost">
		<div class="section search-ghost-form">
			<form class="trigger" id="ghosthunter">
				<input id="search-field" placeholder="Type to search" />
				<input id="search-button" type="submit" value="search">
			</form>
		</div>
		<div class="section search-ghost-result" id="search-result">
			<div class="search-result-inner">
			</div>
		</div>
	</div>
</aside>