<nav class="pagination clearfix">
	{{#if prev}}
		<p class="newer-posts"><a href="{{page_url prev}}">Next</a></p>
	{{/if}}

	{{#if next}}
		<p class="older-posts"><a href="{{page_url next}}">Prev</a></p>
	{{/if}}
</nav>