<ul class="social-share">
	<li class="share-icon"><a class="icon-twitter" target="_blank" href="http://twitter.com/share?text={{title}}&url={{url absolute="true"}}">Twitter</a></li>
	<li class="share-icon"><a class="icon-facebook" target="_blank" href="http://www.facebook.com/sharer.php?u={{url absolute="true"}}">Facebook</a></li>
	<li class="share-icon"><a class="icon-gplus" target="_blank" href="https://plus.google.com/share?url={{url absolute="true"}}">Google+</a></li>
</ul>