<ul class="footer blox">
	{{! Site description}}
	<li class="widget site-description">
		<h3 class="title"><span>About</span></h3>
		<p>It gives your content a sophisticated look, despite the absolute minimalist design of this template.</p>
		<p><a href="/">Lookbook</a> is a photography template for fashion blogger.</p>
		<p><a href="/">More &rarr;</a></p>
	</li>

	{{! Flickr}}
	<li class="widget instafeed">
		<h3 class="title"><span>Instagram</span></h3>
		<div class="widget-content clearfix" id="instafeed"></div>
	</li>

	{{! Office}}
	<li class="widget site-description">
		<h3 class="title"><span>Headquarters</span></h3>
		<p>1341 Ashbury Street, Suite 300<br/>San Francisco, CA 94117</p>
		<p>Tel: 415.553.2458<br/>Fax: 415.243.5633</p>
	</li>
</ul>